.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  margin-top: 16px;
}

.eth {
  text-align: center;
  margin-top: 8px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  cursor: pointer;
  margin: 16px;
  padding: 8px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
  margin-top: 16px;
}

.msgContainer {
  box-shadow: 1px 1px 7px 1px #a9a9a9;
  margin: .7rem;
  border-radius: 5px;
  padding: .2rem;
}

.msgContainer > div {
  padding: .2rem;
}